<div class="container">
  <h1>Change Password</h1>
  <label>Old Password</label>
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="oldpass">
  </div>
  <label>New Password</label>
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="newpass">
  </div>
  <label>Re-enter new Password</label>
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="new1pass">
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-3">

    </div>
    <div class="col-sm-6">
        <button class=" form-control btn-success" (click)="onSave()">Save</button>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>

