<div class="container">
  <h1>Forget Password</h1>
  <label>Email Id</label>
  <div class="form-group">
    <input type="email" class="form-control" [(ngModel)]="emailid">
  </div>
  <label>Username</label>
  <div class="form-group">
    <input type="text" class="form-control" [(ngModel)]="username">
  </div>

<div *ngIf="flag">
    <label>Password</label>
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="password" [disabled]="true">
    </div>

</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <button class="form-control btn-primary" (click)="onClick()">Ok</button>
    </div>
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4">
      <button class=" form-control btn-success" (click)="onCancel()">Cancel</button>

    </div>
  </div>
</div>
